<nav class="mainNav">
  <div class="container">
    <nav class="wrapper">
      <div class="logo">
        <a routerLink='/'><img src="img/myphillylogo_boundary_temporary.png" alt="logo"></a>
      </div>
      <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="label-toggle"></label>
      <div class="nav-links">
        <a class="nav-link" routerLink='/'>Search</a>
        <a class="nav-link" routerLink='/faq'>My Neighborhood</a>
        <a class="nav-link" routerLink='/map'>Map</a>
        <a class="nav-link" routerLink='/about'>About</a>
      </div>
    </nav>
  </div>
</nav>
