.header {
	display: block;
	position: fixed;
	overflow: hidden;
	z-index: 1000;
	width: 100%;
	top: 0;
	background-color: #2176d2;
}

.header-logo {
	display: inline-block;
	width: 100%;
	margin: 10px 0;
}

.header-logo img {
	display: block;
	width: 100%;
	margin: 10px 0;
}

.brand {
	color: #fff;
}

.text-center {
	text-align: center;
}

.nav-menu {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.nav-menu a {
	display: inline-block;
	top: 50%;
	padding: 10px 15px;
	margin: 10px 5px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.nav-menu a:hover {
	background-color: #25cef7;
}

.nav-menu a:nth-child(2) {
	white-space: nowrap;
}

/*Media Queries*/
/*
.header-logo {
	display: none;
	width: 100%;
	margin: 10px 0;
}*/
