<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-block">
          <h2 class="card-title">About</h2>

          <h4 class="mt-5">About This Project</h4>
          <p class="card-text">This project is a product of the <a href="https://codeforphilly.org/">Code for Philly</a> Civic Engagement Launchpad. The goal is to provide information on RCO's for the people of Philadelphia.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <h4 class="mt-5">About Code for Philly</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <h4 class="mt-5">Site Made By</h4>

          <ul class="list-group member-list">

            <li>
              <div class="member">
                <div class="member-header">
                  Member Name
                </div>

                <div class="member-body">
                  Social Media
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
