:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host /deep/ header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
}

:host /deep/ router-outlet + * {
  margin-top: 140px;
  margin-bottom: 40px;
  flex: 1;
}

:host /deep/ footer {
  margin-top: auto;
}
