frontend/dist
.idea
node_modules
jspm_packages
npm-debug.log
debug.log
frontend/src/**/*.js
!frontend/src/systemjs.config.extras.js
!frontend/src/systemjs.config.js
!frontend/src/systemjs-angular-loader.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp
api/.env
api/vendor
