<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="" *ngIf="!loading">
        <div class="card-block">
          <a class="btn btn-outline-primary btn-sm" (click)="goBack()"><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i>Search Results</a>
          <h3 class="card-title mt-3">{{ rco.ORGANIZATION_NAME }}</h3>

          <div class="row">
            <div class="col-lg-6 col-12 mt-2">
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <th scope="row">Meeting Address</th>
                    <td>{{ rco.MEETING_LOCATION_ADDRESS || "Not Listed" }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Org Type</th>
                    <td>{{ rco.ORG_TYPE }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Effective Date</th>
                    <td>{{ rco.EFFECTIVE_DATE | date:"longDate" || "No date provided" }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Expiration Year</th>
                    <td>{{ rco.EXPIRATIONYEAR || "No date provided" }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Website</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Application Documents</th>
                    <td></td>
                  </tr>
                </tbody>
              </table>

              <ul class="flat-list"*ngFor="let item of rco.social_media">
                <li>
                  <i class="fa fa-home" *ngIf="item.type === 'Website'"></i>
                  <i class="fa fa-instagram" *ngIf="item.type === 'Instagram'"></i>
                  <i class="fa fa-twitter" *ngIf="item.type === 'Twitter'"></i>
                  <i class="fa fa-facebook" *ngIf="item.type === 'Facebook'"></i>
                  {{ item.handle }}
                </li>
              </ul>

            </div>

          <div class="col-lg-6 col-12">
            <!-- map component -->
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h4 class="card-title mt-4">Mission Statement</h4>
            <p class="card-text">{{ rco.mission_statement || "This RCO hasn't notified My Philly of their Mission Statement" }}</p>
          </div>

          <div class="col-lg-6">
            <h4 class="card-title mt-4">Committees</h4>
            <ul class="flat-list" *ngFor="let item of rco.committees">
              <li>{{ item.name }}</li>
            </ul>
            <p *ngIf="rco.committees.length < 1">
              This RCO hasn't notified My Philly of any committees.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h4 class="card-title mt-4">Primary Contact</h4>
            <div class="mt-2">
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <th scope="row">Primary Name</th>
                    <td>{{ rco.PRIMARY_NAME }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Primary Address</th>
                    <td>{{ rco.PRIMARY_ADDRESS }}</td>
                  </tr>
                  <tr>
                    <tr *ngIf="rco.PRIMARY_EMAIL">
                      <th scope="row">Primary Email</th>
                      <td>
                        <i class="fa fa-envelope-o"></i>
                        <a href="mailto:{{rco.PRIMARY_EMAIL}}">
                          {{ rco.PRIMARY_EMAIL }}
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Primary Phone</th>
                      <td>
                        <i class="fa fa-phone"></i>
                        <a href="tel:{{rco.PRIMARY_PHONE}}">
                        {{ rco.PRIMARY_PHONE }}
                        </a>
                      </td>
                    </tr>
                    <tr *ngIf="rco.P_PHONE_EXT">
                      <th scope="row">Alternate Phone Extension</th>
                      <td>{{ rco.P_PHONE_EXT }}</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-lg-6">
            <h4 class="card-title mt-4">Alternate Contact</h4>
            <div class="mt-2">
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <th scope="row">Alternate Name</th>
                    <td>{{ rco.ALTERNATE_NAME }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Alternate Address</th>
                    <td>{{ rco.ALTERNATE_ADDRESS }}</td>
                  </tr>
                  <tr *ngIf="rco.ALTERNATE_EMAIL">
                    <th scope="row">Alternate Email</th>
                    <td>
                      <i class="fa fa-envelope-o"></i>
                      <a href="mailto:{{rco.ALTERNATE_EMAIL}}">
                        {{ rco.ALTERNATE_EMAIL }}
                      </a>
                    </td>
                  </tr>
                  <tr *ngIf="rco.ALTERNATE_PHONE">
                    <th scope="row">Alternate Phone</th>
                    <td>
                      <i class="fa fa-phone"></i>
                      <a href="tel:{{rco.ALTERNATE_PHONE}}">
                      {{ rco.ALTERNATE_PHONE }}
                      </a>
                    </td>
                  </tr>
                  <tr *ngIf="rco.A_PHONE_EXT">
                    <th scope="row">Alternate Phone Extension</th>
                    <td>{{ rco.A_PHONE_EXT }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
