.detail-card {
  background-color: #f0f0f0;
  -webkit-box-shadow: 4px 10px 10px -3px #a1a1a1;
  -moz-box-shadow: 4px 10px 10px -3px #a1a1a1;
  box-shadow: 4px 10px 10px -3px #a1a1a1;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.121569);
  border-image: initial;
  border-radius: 0.25rem;
}

.flat-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.btn-outline-primary {
  color: #fff;
  background-color: #2176d2;
  border-color: #2176d2;
  cursor: pointer;
  &:hover {
		color: #fff;
    background-color: rgba(37, 131, 231, 0.3);
  }
}

.table td {
	border: none;
}

.table th {
	border: none;
	font-weight: 700;
	white-space: nowrap;
	width: 1px;
}

@media only screen and (max-width: 500px) {
	.card-title {
		font-size: 1.25rem;
	}
  th {
    font-size: 0.75rem;
		font-weight: 700;
  }
	td {
		font-size: 0.75rem;
	}
	li, p {
		font-size: 0.75rem;
	}
}
