<div class="container home-main">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="card card-background">
        <div class="">
          <h3 class="card-title">My Neighborhood, My Philly</h3>
          <div>
            <ul class="home-callout">
              <li><i class="fa fa-rocket"></i> Get involved in your neighborhood</li>
              <li><i class="fa fa-home"></i> Search for your Registered Community Organization (RCO)</li>
              <li><i class="fa fa-child"></i> RCOs deal with neighborhood issues</li>
            </ul>
            <a class="btn btn-outline-primary" routerLink="faq">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <search></search>
    </div>
  </div>
</div>
