<div class="container home-main">
  <div class="row">
    <div class="col-12">
      <div class="">
        <div class="card-background">
          <h3 class="card-title">My Neighborhood, My Philly</h3>
          <div>
            <ul class="card-text">
              <li>Get involved in your neighborhood</li>
              <li>Search for your Registered Community Organization (RCO)</li>
              <li>RCOs deal with neighborhood issues</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <search></search>
    </div>
  </div>
</div>
