.home-callout {
  font-size: 1.2em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: .75em;

  li {
    line-height: 2.4rem;
    position: relative;
    padding-left: 42px;
    margin-bottom: 0.5rem;
  }

  i.fa {
    font-size: 2.4rem;
    position: absolute;
    top: -2px;
    left: 0;
    text-align: center;
  }

  i.fa.fa-child {
    color: #4caf50;
    left: 5px;
  }

  i.fa.fa-rocket {
    color: #F44336;
  }

  i.fa.fa-home {
    color: #3F51B5;
  }

}

.searchbox {
  background-color: #96c9ff;
  padding: 20px;

  .search {
    border-color: #2176d2;
  }
}

.card-background {
  background-color: #f0f0f0;
  padding: 1rem;
  -webkit-box-shadow: 4px 10px 10px -3px #a1a1a1;
  -moz-box-shadow: 4px 10px 10px -3px #a1a1a1;
  box-shadow: 4px 10px 10px -3px #a1a1a1;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.121569);
  border-image: initial;
  border-radius: 0.25rem;
}

.btn-outline-secondary {
    color: #fff;
    background-color: #2176d2;
    border-color: #2176d2;
    cursor: pointer;
    &:hover {
      background-color: rgba(37, 131, 231, 0.3);
    }
}
