<div class="container home-main">
  <div class="row">
    <div class="col-12">
      <div class="">
        <div class="card-background">
          <h3 class="card-title">Welcome to My Philly</h3>
          <div class="card-text">
            <p>Philadelphia is a city of neighborhoods. Our neighborhoods are currently undergoing rapid change. These drastic changes to your neighborhood often require community input to get approved. You can learn about, and have a say in, how your neighborhood develops by attending zoning meetings held by your local Registered Community Organization (RCO). RCOs are organizations that get community input about construction projects that vary from the existing zoning code, and often include other committees designed to improve the quality of life in the neighborhood. This website was created by <a routerLink='/about'>Code for Philly</a> as a resource to help you learn how the development and zoning process works, how to get involved at the local level, and learn other ways RCOs can improve the quality of life in your neighborhood.
            </p>
            <p>Visit <a routerLink='/faq'>My Philly</a> to learn more about zoning, development, and RCOs.</p>
            <p>Search for your address below, or use the <a routerLink='/map'>map</a>, to find your local RCO.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <search></search>
    </div>
  </div>
</div>
