<div class="container">
	<div class="row">
		<div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="card">
				<div class="card-block">
					<h2 class="card-title">RCO's & Neighborhood Development in Philadelphia</h2>

					<h4 class="mt-5">What is an RCO?</h4>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>

					<h4 class="mt-5">Zoning & Variance Process in Philadelphia</h4>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>

					<h4 class="mt-5">Role of RCO's in Variance Process</h4>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>

					<h4 class="mt-5">RCO Committees</h4>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>

					<h4 class="mt-5">Common Questions Neighbors Bring to RCO's</h4>
					<ul class="list-group">
						<li class="list-group-item">Question 1</li>
						<li class="list-group-item">Question 2</li>
						<li class="list-group-item">Question 3</li>
						<li class="list-group-item">Question 4</li>
						<li class="list-group-item">Question 5</li>
						<li class="list-group-item">Question 6</li>
						<li class="list-group-item">Question 7</li>
						<li class="list-group-item">Question 8</li>
					</ul>

					<h4 class="mt-5">How to Start an RCO</h4>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					<a href="#" class="btn btn-secondary" role="button">Learn More</a>

					<h4 class="mt-5">RCO Reapplication Process</h4>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					<a href="#" class="btn btn-secondary" role="button">Learn More</a>

				</div>
			</div>
  	</div>
		<div class="col-xs-1"></div>
	</div>
</div>
