<div class="container">
	<div class="row">
		<div class="col-12">
    	<div class="card">
				<div class="card-block">
					<h2 class="card-title">Map of RCO's in Philadelphia</h2>
					<div class="mt-5" id="map"></div>
					<h6 class="card-subtitle mb-2 text-muted">You can use this map to explore your area</h6>
					<p class="card-text">nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>
				</div>
			</div>
    </div>
	</div>
</div>
