<head>
	<link rel="stylesheet" href="search.css">
</head>
<div class="container">
	<div class="row">
		<div class="col-xs-1"></div>
        <div class="col-xs-7">
        	<div class="card">
				<div class="card-block">
					<h2 class="card-title">Philadelphia Neighborhood Development</h2>

					<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
					<a routerLink="/faq" class="btn btn-secondary" role="button">Learn More</a>

					<form class="form-inline mt-5">
						<div class="form-group input-group-lg">
					    <input class="form-control input-lg mr-sm-3" type="text" id="inputAddress" placeholder="Enter address">
					    <button class="btn btn-outline-success btn-lg my-2 my-sm-0" type="submit">Search</button>
						</div>
				  </form>

				</div>
			</div>
        </div>
	</div>
</div>
