<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">About My Philly</h3>

          <p class="card-text mt-5">My Philly is the product of <a href="https://codeforphilly.org/">Code for Philly’s</a> <a href="https://codeforphilly.org/blog/civic_engagement_launchpad">Civic Engagement Launchpad</a>, a month-long hackathon that occurred between March 25 - April 25, 2017. Technologists who wanted to contribute their skills to improving civic engagement in Philadelphia had the opportunity to form teams around a topic and develop a digital solution in one month.</p>
          <p class="card-text">A community activist came to the event with the goal of using technology to make RCOs more transparent by making their application documents, which are public record, more accessible. RCOs are quasi-governmental organizations that help connect citizens to government resources, and most importantly, gather community input about development projects that vary from the zoning code. For that reason, it’s important for citizens to know who runs their local RCO, how to get in touch with the RCO, what their local RCO stands for, and the extent to which the RCO engages with the community beyond zoning issues. Our team also hopes that increased access to application documents helps RCOs learn from one another in order to establish best practices, and enhance their overall quality.</p>
          <p class="card-text">In addition to transparency and best practices, our team saw the need to educate everyday Philadelphians about the complex role of development, zoning variances, and RCOs in the rapid change sweeping across neighborhoods in Philadelphia. Citizens need to understand the process in order to get involved, and take ownership over what is happening in their neighborhood. In the end, we want to make sure each and every Philadelphian can continue to refer to their home as My Philly, and not feel alienated by rapid change.</p>
          <!-- <p>If you have any questions or concerns, please <a href="mailto:support@myphilly.org">email support</a>.</p> -->

          <h4 class="mt-5">Project Team</h4>

          <div class="row collaborators">
            <div class="col-md-4">
              <div class="card-block">
                <h5 class="card-title">Brian Hassinger</h5>
                <h6 class="card-text">Front End | Back End</h6>
                <p class="card-text"><a href="http://bhassinger.com/">Website</a> | <a href="https://github.com/ylambda">GitHub</a></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-block">
                <h5 class="card-title">Lisa MacCarrigan</h5>
                <h6 class="card-text">Front End | UX Research &amp; Design | Map</h6>
                <p><a href="https://twitter.com/LisaMacCarrigan">@LisaMacCarrigan</a> | <a href="https://github.com/LisaMacCarrigan">GitHub</a></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-block">
                <h5 class="card-title">James Marshall</h5>
                <h6 class="card-text">Front End</h6>
                <p><a href="https://github.com/venerati">GitHub</a></p>
              </div>
            </div>
          </div>
          <div class="row collaborators">
            <div class="col-md-4">
              <div class="card-block">
                <h5 class="card-title">Kyle McGrogan</h5>
                <h6 class="card-text">Back End</h6>
                <p><a href="https://github.com/mcgrogan91">GitHub</a></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-block">
                <h5 class="card-title">Bill Moriarty</h5>
                <h6 class="card-text">Map</h6>
                <p><a href="https://twitter.com/BillMoriarty">@billmoriarty</a> | <a href="www.billmoriarty.com">Website</a></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-block">
                <h5 class="card-title">Laura Oxenfeld</h5>
                <h6 class="card-text">UX Research &amp; Design | Project Manager | Content Strategy</h6>
                <p><a href="https://twitter.com/loxtalks">@LOXTalks</a> | <a href="www.lauraoxenfeld.com">Website</a></p>
              </div>
            </div>
          </div>

          <p class="card-text"><em>Thanks to the following people for additional contributions to the website: Matthew Albasi, Steve Bohnel, Carol Han, Jon Geeting, Lauren Vidas, and RCO leaders, neighbors, City Planning Commission staff who participated in user interviews.</em></p>

          <h4 class="mt-5">About Code for Philly</h4>

          <h5 class="mt-4">Our Mission</h5>
          <p class="card-text">We use tech and data as a mode of civic engagement. We’re making Philadelphia into the city we know it can be by bringing together a community of people dedicated to using their talents to improve their home, and themselves.</p>
          <p class="card-text">Founded under <a href="https://www.codeforamerica.org/">Code for America’s</a> inaugural Brigade Program in 2012, Code for Philly currently hosts a weekly <a href="https://www.meetup.com/Code-for-Philly/">Meetup</a>, regular hackathons and acts as an incubator for civic apps across the city.</p>
          <p class="card-text">Code for Philly is non-partisan and non-political.</p>

          <h5 class="mt-4">Who We Are</h5>
          <p class="card-text">We’re civic and social entrepreneurs, self-directed learners, and proactive community members. Some of us are thinkers, designers, makers, and even coders, but we’re all engaged citizens ready to make an impact on the place we call home.</p>
          <p class="card-text">Meet our <a href="https://codeforphilly.org/people">Members</a></p>

          <h5 class="mt-4">What We Do</h5>
          <p class="card-text">At Code for Philly, process is the product. We bring people together to learn from one another, network, develop leadership skills, manage projects from end-to-end, work in teams, and build tech.</p>
          <p class="card-text">To learn more about our innovative applications, check out our <a href="https://codeforphilly.org/projects">Projects</a> page.</p>

        </div>
      </div>
    </div>
  </div>
</div>
