body {
	margin-top: 100px;
	margin-bottom: 100px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

.card {
	margin-top: 25px;
}

.card-title {
	font-weight: bold;
}

.member-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.member-list li {
  display: inline-block;
}
