<div class="container">
	<div class="row">
		<div class="col-12">
      <div class="card">
				<div class="card-block">
					<h3 class="card-title">RCO's & Neighborhood Development in Philadelphia</h3>

					<h4 class="mt-5">What is an RCO and what do they do?</h4>
					<p class="card-text">An RCO is a registered community organization. There are dozens of them throughout the city, and they basically serve as a liaison between residents of a respective community and city officials. They deal with matters concerning development, zoning, community events and several other issues. Another important thing to note is they can vary in who composes the RCO. For instance, neighborhood improvement districts tend to focus on development and ward committees apply more to government, but both are considered RCOs.</p>

					<h4 class="mt-5">What is a zoning variance?</h4>
					<p class="card-text">A zoning variance is when a developer asks to build on a certain plot of land, although their design violates the zoning code in that spot. Basically, developers and their lawyers have to prove to the Zoning Board of Adjustment that there are hardships presented by the current zoning code. Hence, they try to get these variances approved by the ZBA.</p>

					<h4 class="mt-5">What is the ZBA?</h4>
					<p class="card-text">The ZBA is the Zoning Board of Adjustment. It's a five-person board that isn't paid a salary. Each member is appointed by the mayor, and current members are mostly tied to civic associations. What's most important is they have the final say on zoning matters; in other words, they are autonomous. Zoning hearings are not the most entertaining form of government, but they matter, especially when droves of residents show up to plead their case against or for variances to the board.</p>

					<h4 class="mt-5">How do you create an RCO?</h4>
					<p class="card-text">Qualified neighborhood improvement district, special services district or ward committees automatically are RCOs with a full application to the City Planning Commission. Other organizations must meet multiple requirements, including no more than 20,000 parcels in the RCO's area, regularly scheduled public meetings and clear leadership. Otherwise, the process of applying to the Planning Commission is similar.</p>

					<h4 class="mt-5">Common Questions Neighbors Ask</h4>
					<ul class="list-group">
						<li class="list-group-item">Question 1</li>
						<li class="list-group-item">Question 2</li>
						<li class="list-group-item">Question 3</li>
						<li class="list-group-item">Question 4</li>
						<li class="list-group-item">Question 5</li>
					</ul>

					<h4 class="mt-5">How to Start an RCO</h4>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					<a href="#" class="btn btn-secondary" role="button">Learn More</a>

					<h4 class="mt-5">RCO Reapplication Process</h4>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					<a href="#" class="btn btn-secondary" role="button">Learn More</a>

				</div>
			</div>
  	</div>
	</div>
</div>
