<div id="pageFooter" class="footer">
  <div class="container">
    <div class="row h-100">
      <div class="col-sm-3 my-auto resource"><a href="http://www.phila.gov/CITYPLANNING/PROJECTREVIEWS/Pages/RegisteredCommunityOrganizations.aspx" target="_blank">Registered Community Organizations</a></div>
      <div class="col-sm-3 my-auto resource"><a href="http://www.phila.gov/cityplanning/Pages/default.aspx" target="_blank">City Planning Commission</a></div>
      <div class="col-sm-3 my-auto resource"><a href="https://beta.phila.gov/departments/office-of-open-data-and-digital-transformation/" target="_blank">Office of Open Data & Digital Transformation</a></div>
      <div class="col-sm-3 my-auto resource"><a href="https://codeforphilly.org/" target="_blank">Code For Philly</a></div>
    </div>
  </div>
</div>
