<div id="pageFooter" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="footer-heading">
          My Philly
        </div>

          <div class="row">

            <div class="col-md-6">
              <ul class="footer-nav">
                <li><a class="" routerLink='/'>Home</a></li>
                <li><a class="" routerLink='/faq'>FAQ</a></li>
                <li><a class="" routerLink='/search'>Search</a></li>
              </ul>
            </div>

            <div class="col-md-6">
              <ul class="footer-nav">
                <li><a class="" routerLink='/map'>Map</a></li>
                <li><a class="" routerLink='/about'>About</a></li>
              </ul>
            </div>
        </div>

      </div>

      <div class="col-sm-6">
        <div class="footer-heading">
          Providers
        </div>
        <ul class="footer-nav">
          <li>
            <a href="http://www.phila.gov/CITYPLANNING/PROJECTREVIEWS/Pages/RegisteredCommunityOrganizations.aspx" >
              Registered Community Organizations
            </a>
          </li>
          <li>
            <a href="http://www.phila.gov/cityplanning/Pages/default.aspx" >City Planning Commission</a>
          </li>
          <li>
            <a href="https://beta.phila.gov/departments/office-of-open-data-and-digital-transformation/" >
              Office of Open Data & Digital Transformation
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="love-tagline text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          Made with <span class="hearts"><i class="fa fa-heart"></i></span> by
          <a href="https://codeforphilly.org/">Code for Philly</a>
        </div>
      </div>
    </div>
  </div>

</div>
