.footer {
	position: fixed;
	display: block;
	max-height: 80px;
	z-index: 100;
	bottom: 0;
	width: 100%;
	background-color: #444;
	text-align: center;
	padding: 5px;
}

.footer .resource {
	padding: 5px;
	font-size: 12px;
	text-transform: uppercase;
}

.footer .resource a {
	color: #fff;
	text-decoration: none;
}

/*Media Queries*/
@media only screen and (max-width: 768px) {
  .footer .resource {
      font-size: 10px;
			padding: 0;
  }
}
