<form class="searchbox mt-5">
  <h3 class="card-title">
    Find by Address
  </h3>
  <div class="form-group">
    <div class="input-group">
      <input class="form-control search" type="text" id="inputAddress" placeholder="Enter street address" name="address" [(ngModel)]="address" >
      <span class="input-group-btn">
        <button class="btn search btn-outline-secondary " type="submit"
          (click)="searchForRCO()"
          ><i class="fa fa-search mr-2" aria-hidden="true"></i>Search</button>
      </span>
    </div>
    <small id="inputAddressHelp" class="form-text text-muted ml-1">Example: 1401 John F Kennedy Blvd</small>
  </div>
</form>

