<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Welcome to My Philly</h3>

          <p class="card-text mt-5">Philadelphia is a city of neighborhoods. Our neighborhoods are currently undergoing rapid change. These drastic changes to your neighborhood often require community input to get approved. You can learn about, and have a say in, how your neighborhood develops by attending zoning meetings held by your local Registered Community Organization (RCO). This website was created by Code for Philly as a resource to help you learn how the development and zoning process works, how to get involved at the local level, and learn other ways RCOs can improve the quality of life in your neighborhood.<a routerLink="/faq"><strong> Learn More</strong></a></p>


          <form class="searchbox mt-5">
            <h3 class="card-title"><i class="fa fa-search mr-2" aria-hidden="true"></i>Search By Street Address</h3>
            <div class="form-group">
              <input class="form-control" type="text" id="inputAddress" placeholder="Enter street address" name="address" [(ngModel)]="address" >
              <small id="inputAddressHelp" class="form-text text-muted">Example: 1401 John F Kennedy Blvd</small>
              <button class="btn search btn-outline-secondary mt-2" type="submit"
                (click)="searchForRCO()"
                >Search</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
